
.selectedLink {
   color: #f30889;
   }

   .unselecetedLinkWebDark {
   color: white
   }

   .unselecetedLinkMob {
   color: white
   }

   .unselecetedLinkWebLight {
   color: black
   }

   .unselecetedLinkMob {
   color: white
   }
